* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  color: rgb(242, 242, 242);
}

span {
  display: inline-block;
}

.newspaper {
  background-color: antiquewhite;
  font-family: Times New Roman, Times, serif;
  font-weight: 700;
}

.magazine1 {
  background-color: teal;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.magazine2 {
  background-image: url('images/pink-pattern.png');
  color: fuchsia;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
}

.medium {
  font-size: 20px;
  padding: 8px;
}

.big {
  font-size: 30px;
  padding: 10px;
}

.rotateleft {
  transform: rotate(-5deg);
}

.reallybig {
  font-size: 40px;
  padding: 15px;
}

.rotateright {
  transform: rotate(5deg);
}

.skewleft {
  transform: skewX(10deg);
}

.skewright {
  transform: skewX(-10deg);
}

.container {
  align-items: center;
  background-image: url('images/chalkboard-517818.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.header-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.label-container {
  margin: 10px;
}

.input {
  margin-bottom: 5px;
}

.input input , .input button {
  padding: 8px;
  border-radius: 5px;
}

.input button {
  cursor: pointer;
}

.letter-container {
  color: black;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  min-height: 300px;
}

.contador-container {
  text-align: center;
}

.container-footer {
  bottom: 0;
  display: flex;
  flex-direction: column;
  font-size: 0.7em;
  padding: 15px;
  position: absolute;
}

.container-footer p {
  text-align: center;
}

a {
  color: rgb(242, 242, 242);
  text-decoration: none;
}
