* {
  margin: 0;
  padding: 0;
}

.big {
  font-size: 30px;
  padding: 10px;
}

#criar-carta , #carta-texto {
  margin-top: 10px;
  margin-left: 10px;
}

#criar-carta {
  border-radius: 4px;
  padding: 5px;
}

.magazine1 {
  background-color: teal;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.magazine2 {
  background-image: url('images/pink-pattern.png');
  color: fuchsia;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
}

.medium {
  font-size: 20px;
  padding: 8px;
}

.newspaper {
  background-color: antiquewhite;
  font-family: Times New Roman, Times, serif;
  font-weight: 700;
}
