body {
  background-color: gray;
}

main {
  width: 1000px;
  height: 600px;
  background-color: white;
  margin: auto;
  margin-top: 7.5%;
  border-radius: 10px;
  padding: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

section {
  width: 900px;
  height: auto;
  margin: auto;
}

input {
  width: 750px;
}

input , button {
  display: inline;
}

.newspaper {
  background-color: antiquewhite;
  font-family: Times New Roman, Times, serif;
  font-weight: 700;
}

.magazine1 {
  background-color: teal;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.magazine2 {
  background-image: url('images/pink-pattern.png');
  color: fuchsia;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
}

.medium {
  font-size: 20px;
  padding: 8px;
}

.big {
  font-size: 30px;
  padding: 10px;
}

.reallybig {
  font-size: 40px;
  padding: 15px;
}

.rotateleft {
  transform: rotate(-5deg);
}

.rotateright {
  transform: rotate(5deg);
}

.skewleft {
  transform: skewX(10deg);
}

.skewright {
  transform: skewX(-10deg);
}

#carta-contador {
  text-align: center;
  font-size: 30px;
  font-family: Courier New, Courier, monospace;
}

span {
  display: inline-block;
}
